{% load widget_tweaks %}
<form method="post" enctype="multipart/form-data" action="{% url 'data_create' %}" class="js-data-create-form" >
  {% csrf_token %}
  <div class="modal-header">
    
    <h4 class="modal-title">Data</h4>
  </div>
  <div class="modal-body">
      {{ form }}
      <input type="submit" /
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Enter</button>
  </div>
</form>