{% extends 'base.html' %}
    {% block content %}
          <div class="container-fluid">
            <h1 class="mt-4">QCluster</h1>
              <div class="row">
                
                  <div class="col">
                  


                  <!-- Create book button -->
                <div class="col-12 mb-3">
                  <tr>
                  </tr>
                  <tr>
                    {{Upload_data}}
                  </tr>
                </div>
                              
          
                       <table class="table table-bordered table-hover table-striped" id="dian_table">
                       <thead>
                            <tr>
                                <th>No.</th>
                                <th style="align: center">Nama</th>
                                <th style="align: center">Alamat</th>
                                <th style="align: center">Asal</th>
                                <th style="align: center">Cluster</th>
                                
                            </tr>
                          </thead>
                          <tbody>
                             {% include 'cluster_list.html' %}
                          </tbody>
                          
                      </table>
                  </div>
              </div>
            </div>
          
          
          
        <!-- /#page-content-wrapper -->

      


    {% endblock %}





{% block extrascripts %}
<script src="/media/fungsi/data1.js" ></script>
<script src="/media/fungsi/data.js" ></script>    
<script>
        $(document).ready( function () {
            $('#dian_table').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": _getData(),
                "columns": [
                    {title: "Action"},
                    {title: "Input"},
                    {title: "State"},
                    {title: "Completed"},
                    {title: "Project"}
                ]
            });

            function _getData(data, callback) {
                $.getJSON("http://127.0.0.1:8000/getDataCluster/siswa/", success);
                function success(data) {
                // you'll probably want to get recordsTotal & recordsFiltered from your server
                    callback({
                        recordsTotal: 57,
                        recordsFiltered: 57,
                        data: data
                    })
                }
            }
        } );
    </script>
    
{% endblock extrascripts %}

