{#                              {% for row in rows %}#}
{#                                <tr>#}
{#                                    <td>{{ forloop.counter }}</td>#}
{#                                    <td>{{ row.id_siswa.nama }}</td>#}
{#                                    <td>{{ row.id_siswa.alamat }}</td>#}
{#                                    <td>{{ row.id_siswa.sekolah }}</td>#}
{#                                    <td>{{ row.cluster }}</td>#}
{#                                    #}
{#                                    #}
{#                                </tr>#}
{#                              {% endfor %}#}