{% extends 'base.html' %}
    {% block content %}
          
          
        <!-- <input type="hidden" name="nama_jurusan" value="{{ nama_jurusan }}" />
        <input type="hidden" name="jml_jurusan" value="{{ jml_jurusan }}" />
        <input type="hidden" name="nama_JK" value="{{ nama_JK }}" />
        <input type="hidden" name="jml_JK" value="{{ jml_JK }}" /> -->
          
        <!-- /#page-content-wrapper -->

      <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-rocket icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div>Analytics Dashboard
                        <div class="page-title-subheading">This is an example dashboard created using build-in elements and components.
                        </div>
                    </div>
                </div>    </div>
        </div>            
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content bg-midnight-bloom">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Jumlah Siswa</div>
                            <div class="widget-subheading">Data Siswa SD Kota Kendari</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span>7359</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content bg-arielle-smile">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Jumlah SD</div>
                            <div class="widget-subheading">Data SD Kota Kendari</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span>106</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content bg-grow-early">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Jumlah SMP</div>
                            <div class="widget-subheading">Data SMP Kota Kendari</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span>23</span></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        
        
        
    </div>


    {% endblock %}





{% block extrascripts %}
   
<script>
  // {#  $(function () {#}
  // {#  var nama_jurusan2 = document.getElementsByName('nama_jurusan')[0].value;#}
  // {#  var jml_jurusan2 = document.getElementsByName('jml_jurusan')[0].value;#}
  // {#  var ret = nama_jurusan2.replace('[','');#}
  // {#  var ret = ret.replace(']','');#}
  // {#  var ret = ret.replace(/'/g,'');#}
  // {#  var arr = ret.split(",")#}
  // {#  jml_jurusan1 = JSON.parse(jml_jurusan2);#}
  // {#  console.log((arr));#}
  // {#  console.log((jml_jurusan1));#}
  // {#  #}
  // {#  var nama_JK2 = document.getElementsByName('nama_JK')[0].value;#}
  // {#  var jml_JK2 = document.getElementsByName('jml_JK')[0].value;#}
  // {#  var ret1 = nama_JK2.replace('[','');#}
  // {#  var ret1 = ret1.replace(']','');#}
  // {#  var ret1 = ret1.replace(/'/g,'');#}
  // {#  var arr1 = ret1.split(",")#}
  // {#  jml_JK1 = JSON.parse(jml_JK2);#}
  // {##}
  // {#  var donutData        = {#}
  // {#    labels: arr,#}
  // {#    datasets: [#}
  // {#      {#}
  // {#        data: jml_jurusan1,#}
  // {#        backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],#}
  // {#      }#}
  // {#    ]#}
  // {#  }#}
  // {##}
  // {#  var JKData        = {#}
  // {#    labels: arr1,#}
  // {#    datasets: [#}
  // {#      {#}
  // {#        data: jml_JK1,#}
  // {#        backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],#}
  // {#      }#}
  // {#    ]#}
  // {#  }#}
  // {##}
  // {##}
  // {#  //-------------#}
  // {#  //- PIE CHART -#}
  // {#  //-------------#}
  // {#  // Get context with jQuery - using jQuery's .get() method.#}
  // {#  var pieChartCanvas = $('#pieChart').get(0).getContext('2d')#}
  // {#  var pieData        = donutData;#}
  // {#  var pieOptions     = {#}
  // {#    maintainAspectRatio : false,#}
  // {#    responsive : true,#}
  // {#  }#}
  // {#  //Create pie or douhnut chart#}
  // {#  // You can switch between pie and douhnut using the method below.#}
  // {#  var pieChart = new Chart(pieChartCanvas, {#}
  // {#    type: 'pie',#}
  // {#    data: pieData,#}
  // {#    options: pieOptions      #}
  // {#  })#}
  // {##}
  // {#  //-------------#}
  // {#  //- PIE CHART -#}
  // {#  //-------------#}
  // {#  // Get context with jQuery - using jQuery's .get() method.#}
  // {#  var pieChartCanvas2 = $('#pieChart2').get(0).getContext('2d')#}
  // {#  var pieData2        = JKData;#}
  // {#  var pieOptions2     = {#}
  // {#    maintainAspectRatio : false,#}
  // {#    responsive : true,#}
  // {#  }#}
  // {#  //Create pie or douhnut chart#}
  // {#  // You can switch between pie and douhnut using the method below.#}
  // {#  var pieChart2 = new Chart(pieChartCanvas2, {#}
  // {#    type: 'pie',#}
  // {#    data: pieData2,#}
  // {#    options: pieOptions      #}
  // {#  })#}
  // {##}
  // {#  #}
  // {#})#}
</script>
{% endblock extrascripts %}

